@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.navbar {
    box-shadow: 0px 10px 10px rgba(83, 83, 83, 0.292);
}
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f0f4f8;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

