@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: #000;
  color: #fff;
font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
}

.main {
  background: #00464f;
  background: linear-gradient(161deg, rgba(0, 70, 79, 1) 0%, rgba(24, 133, 148, 1) 37%, rgba(0, 49, 56, 1) 100%);
}